<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hidden Value in Abandoned Buildings - ALPHA">
  <meta name="author" content="Dan Fehrenbach">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- Favicons -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">

  <!-- load bootstrap css -->
  <link rel="stylesheet" href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap-responsive.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='stylesheets/bootstrap-extended.css') }}>

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Need Modernizr? Uncomment the following script. -->
  <!-- <script src="/static/js/modernizr.js"></script> -->

</head>

<body>

  <header>
    {% include "header.html" %}
  </header>

  <div id="main" role="main">
    {% block main %}{% endblock %}
  </div>

  <footer>
    {% include "footer.html" %}
  </footer>


  <!-- Google CDN's jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <!-- load JSON handlers -->
  <script src={{ url_for('static', filename='vendor/JSON-js/json2.js') }}></script>

  <!-- Load Bootstrap js -->
  <script src={{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}></script>

  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}{% endblock %}

  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
