  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ url_for('index') }}">HViAB</a>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a id="forms" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              Info <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labeledby="forms">
              <li><a href="/docs">documentation</a></li>
              <li><a href="/about">about</a></li>
            </ul> 
          </li> <!-- closes dropdown list -->
        </ul> <!--  closes right hand section of nav bar-->

      </div> <!-- closes container div -->
    </div> <!-- closes navbar inner -->
  </div> <!-- closes navbar -->